body{
    margin: 0px;
    height: inherit;
    background: #000000;
    font-size: 16px;
}
html{
    height: 100%;
}
img{
    width: 100%;
}

@media(orientation: landscape){
    img{
        height: 100%;
        object-fit: cover;
    }
}